body {
    background-color: #EEF9BF;
}
.main{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    text-align: center;
    margin-top: 45px;
    font-weight: bold;
    color: #75B79E;
    padding: 0 10%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 28px;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 17px;
  }

  .card-front {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .card-back {
    transform: rotateY(180deg);
  }

  .card:active .card-back {
    transform: rotateY(0deg);
  }

  .card:active .card-front {
    transform: rotateY(-180deg);
  }
  .card-img{
    width: 100px;
    height: 100px;
  }
  .hided{
    transition: all .5s;
    display: none;
  }