body {
    background-color: #EEF9BF;
}
.main{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    text-align: center;
    margin-top: 45px;
    font-weight: bold;
    color: #75B79E;
    padding: 0 10%;
}

.container {
    display: flex;
   justify-content: space-between;
}

.score-card{
    font-size: 20px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid #75B79E;
}
.score-game{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.score-game:nth-child(2n) {
    background-color: #fff;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 28px;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 34px;
   
  }

  .card-front {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: transform 0.5s;
    transform: rotateY(0deg);
    opacity: 1;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }

  .card-back {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: transform 0.5s;
    transform: rotateY(0deg);
    opacity: 1;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }

  .card-img{
    width: 100px;
    height: 100px;
    z-index: 1;
  }

  .hided{
    transition: transform 0.5s;
    opacity: 0;
    transform: rotateY(180deg);
  }
  
  @media (max-width: 600px){
    .main{
      font-size: 20px;
    }
    .card{
      margin: 8px auto;
      width: 87px;
      height: 110px;
    }
    .card-img{
      width: 80%;
      height: 80%;
      z-index: 1;
    }
    .score-card{
      display: none;
    }
  }